* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, red, rgb(202, 202, 120), blue);
    min-height: 100vh;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex_d {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.user_info {
    order: 1;
    float: right;
}
#user_name {
    text-transform: uppercase;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:center;   
}
.User_dashboard{
    margin-top: 5%;
    width: 200px;
}

.btn {
    margin-right: 20px;
}
.mt26{
    margin-top: 26px;
}

/* display none property */
.d_none{
    display: none;
}

/* fontawesome icons css */
.edit{
    /* margin-left: 30px; */
    height:30px;
    width: 50px;
    cursor: pointer;
}
.delete{
    /* margin-left: 5px; */
    height:30px;
    width: 50px;
    cursor: pointer;
}